
<div class="container-fluid">
  <div class="header-image">
    <h1>Blog Posts</h1>
    <img src="assets/blogging.jpg" class="blog-image img-responsive" alt="blogging image">
  </div>
  <div class="row post-main-page">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="blog-post">
  <hr>
    <ul>
      <% @posts.each do |post| %>
      <li class="title-posting"><%= post.title %></li>
      <li><%= post.image %></li>
      <li><%= post.content %></li>
    </ul>
    <hr>
        <%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>

<br>

<%= link_to 'New Post', new_post_path %>
